# Files that I want git to ignore
dns-record-change.output
errors.txt
new-record-set.json
diff.txt
output.txt
# Update files
# Updated files
change-record-set-output.txt
get-previous-record-set-errors.txt
previous-record-set.json
